{% extends 'clientes/index.html' %}

{% block title %}Cadastro de Cliente{% endblock %}

{% block content %}
    <h2>Cadastro de Cliente</h2>

    <form method="post" class="form-container">
        {% csrf_token %}

        <div class="form-group">
            <label for="id_nome">Nome:</label>
            {{ form.nome }}
        </div>

        <div class="form-group">
            <label for="id_cpf">CPF:</label>
            {{ form.cpf }}
        </div>

        <div class="form-group">
            <label for="id_email">E-mail:</label>
            {{ form.email }}
        </div>

        <div class="form-group">
            <label for="id_telefone">Telefone:</label>
            {{ form.telefone }}
        </div>

        <div class="form-group">
            <label for="endereco">Endereço:</label>
            {{ form.endereco }}
        </div>

        <div class="form-group">
            <label for="id_aniversario">Data de Aniversário:</label>
            {{ form.aniversario }}
        </div>

        <div class="form-group">
            <label for="id_pagamento">Pagamento:</label>
            {{ form.pagamento }}
        </div>

        <div class="form-group">
            <label for="id_observacoes">Observações:</label>
            {{ form.observacoes }}
        </div>

        <button type="submit" class="btn">Salvar</button>
    </form>

    <a href="{% url 'cliente_list' %}" class="back-link">Voltar para a lista</a>
{% endblock %}